/* all */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.75em;
  color: #666;
}
:root {
  --main-color: #ff206e;
}
.text-mine {
  color: var(--main-color);
}
.bg-mine {
  background-color: var(--main-color);
}
/*  header */
.navbar{
  top: 0%;
  position: fixed;
  z-index: 999999;
  background-color: rgba(0,0, 0, 0.3);
}
.nav-link a{
    padding-right: 20px;
    font-size: 18px;
}
.home{
    position:relative;

}
.layer{
    position: absolute;
  top: 0%;
  left: 0%;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.3);
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.setting{
    background-color: #1f2528;
    width: 40px;
    height: 40px;
    top: 30%;
    left: 0%;
    position: fixed;
}
.mouse{
    background-color: transparent;
    width: 40px;
    height: 40px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.arrow1{
    background-color: transparent;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 0%;
    position: absolute;
    border: #fff 1px solid;
}
.arrow2{
    background-color: transparent;
    width: 40px;
    height: 40px;
    bottom: 50%;
    left: 0%;
    position: absolute;
    border: #fff 1px solid;
}

/* End of header */


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #282828;
  font-weight: 600;
}

/* ************************************************************************ */
/* about */
.tittle-center h2 {
  font-size: 80px;
  color: #f1f1f1;
  font-weight: 900;
}
.tittle-center h3 {
  font-size: 40px;
  font-weight: 900;
  top: 50%;
}
.brdr {
  height: 0.6px;
  width: 40px;
  margin: 5px auto;
  top: 100%;
  transition: all 0.5s;
}
.title-parag {
  width: 59%;
}
.tittle:hover .brdr {
  width: 60px;
}
/* skiils rightside */
.progress {
  height: 4px;
}
.progress-bar {
  height: 100% !important;
  border-radius: 0 2px 2px 0;
}

.skills-content p {
  margin: 0;
  padding: 0;
  color: #444;
  /* font-weight: 600; */
}
.skills-content .skills-content1 {
  text-align: right;
  font-weight: 500;
  width: 69%;
}
.skills-content .skills-content2 {
  text-align: right;
  font-weight: 500;
  width: 80%;
}
.skills-content .skills-content3 {
  text-align: right;
  font-weight: 500;
  width: 66%;
}
.skills-content .skills-content4 {
  text-align: right;
  font-weight: 500;
  width: 54%;
}









.team-member 
{
    position: relative;
    background-color: #fff;
    transition: all 0.3s;
}
.team-member .team-image 
{
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}
.team-social
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
   background-color: rgba(242, 84, 84, 0.85);
   opacity: 0;
   transition: all 0.5s;
}
.team-member:hover .team-social
{
    opacity: 1;
}
.team-social-inner
{
   padding-top: 180px;
    text-align: center;
    letter-spacing: 1rem;
    color: #fff;
}
team-details
{
    text-align: center;
}

.info-box
{
    padding-top: 70px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.info-box h3
{
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    font-size: 32px;
}
.btn
{
    background-color: #f25454;
    color: #fff;
    border-radius: 3px;
    padding: 18px 30px;
    line-height: 1;
    font-weight: 700;
    border-color: #ccc;
}
.section-title .o-team
{
    margin-bottom: 70px;
    font-size: 18px;
    color: #999;
}
.about
{    
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    text-align: center;
    
}
.about h2
{
    color: #dee3e4 ;
    opacity: 0.4;
    font-weight: 500 ;
    line-height: 1.3;
    font-size: calc(1.95rem + 8.4vw) ;
    text-transform: uppercase;
    margin-bottom: 0;
    width: 100%;
}
.about .about-us
{
    font-weight: 700 ;
    font-size: 2.25rem ;
    color: #212529;
    line-height: 1.5;
    margin-bottom: 0;
    align-self: center;
    width: 100%;
    position: absolute;
    padding-top: 50px;
}
.section-title .par
{
    margin-bottom: 70px;
    font-size: 18px;
    color: #999;
}
.section3
{
    text-align: center;
    background-color: #f5f5f5;
}

.section3 .icon
{
  border: 8px solid #0078ff;
  width: 6rem ;
  height: 6rem;
}